.banner{
    background: url("https://amyvulpis.files.wordpress.com/2020/01/cropped-fort-lauderdal-real-estate_homes-for-sale-in-fort-lauderdale_amy-vulpis.jpg") center center;
    height: 50vh;
    position: relative;
}

.banner__info{
    background-color: black;
    color: white;
    padding-top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 300px;
}
.banner__search{
    display: flex;  /*expands the search date*/
    flex-direction: column;

}

.banner__searchButton{
    background-color:white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}
.banner__info > button{
    background-color: #ff7779;
    color:white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
}
.banner__info>button:hover{
    background-color:ivory;  /*Explore nearby changing looks...color inversion*/
    color: #ff7779;
}


.banner__info>h1{
    font-size: 50px;
    font-weight: 1000;
}
.banner__info>h5{
    margin-top: 10px;
}



