
.home__section {

    display: flex;
    padding: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .destinations> h1{
  

    font-size: 40px;
    font-weight: 910;
    text-align: center;
  }